/* styles.css */

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.animate:not(.active) {
  opacity: 0;
  transform: translateY(20px);
}

  