*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

/* nav */
.nav-res{
  width: 90%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#btn{
  border-radius: 0;
  width: auto;
}
@media screen and (max-width: 500px){
  .nav-res{
    flex-direction: column;
  }
  #btn{
    width: auto;
  }
}
.accueil-img{
  width: 100%;
  height: 100vh;
  /* background-image:url(../../public/couverture.jpg); */
  background-image:linear-gradient(rgba(68, 85, 138, 0.6),rgba(52, 57, 111, 0.9)),url(../../public/accueil1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
}
.btn1{
  background-color: RED;
  border-radius: 0;
  width: 20%;
  height: 45px;
}
#accueil{
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
}
#accueil h1{
  width: 73%;
}
#accueil p{
  width: 53%;
  margin-left: 9%;
}
.acc-colo{
  color: red;
}
.button2{
  margin-right: 25%;
  margin-top: 15px;
}
.button2 button{
  width: auto;
  border-radius: 0;
} 

@media screen and (max-width: 500px){
  .accueil-img{
    width: 100%;
    height: 80vh;
  }
  #accueil{
    top: 15%;
  }
  #accueil h1{
    font-size: 25px;
  }
  #accueil p{
    font-size: 14px;
    width: 70%;
  }
  #btn{
    width: auto;
  }
}

.partie2{
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section1{
  position: relative;
}
.section-img{
  position: absolute;
  left: 30vh;
  top: 3vh;
}
.section2{
  width: 50%;
  margin-left: 15%;
  font-size: 1rem;
}
.title2{
  width: 33rem;
  font-size: 13px;
  padding-left: 10PX;
  border-left: 2px solid red;
}

@media screen and (max-width: 500px){
  .section1{
    display: none;
  }
  .section2{
    width: 100%;
    margin-left: 15%;
    font-size: 1rem;
  }
  .title2{
    width: 100%;
  }
}

.section3{
  margin-top: 15%;
  height: 140VH;
  padding: 8%;
  background-color: rgb(239, 234, 226);
}
.section3 h3{
  width: 55%;
  margin-left: 25%;
  margin-bottom: 8%;
  text-align: center;
}
.section3-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(25, 64, 181, 0.6); */
}
.section3-2{
  display: flex;
  flex-direction: row;
  /* background-color: rgba(25, 64, 181, 0.6); */
}
.section3-3{
  height: 28VH;
  width: 50VH;
  padding: 15PX;
  background-color: white;
  border-radius: 10PX;
  margin: 20px;
}
.section3-3 p{
  font-size: 13PX;
}
.section3-3 h5{
  color: RED;
}
.icon{
  font-size: 35PX;
  font-weight: bold;
  color: red;
}

@media screen and (max-width: 500px){
  .section3-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(25, 64, 181, 0.6); */
  }
  .section2{
    width: 100%;
    margin-left: 15%;
    font-size: 1rem;
  }
  .title2{
    width: 100%;
  }
}

.Partie-2{
  height: 130vh;
  padding-top: 10%;
  /* margin-left: 8%; */
}
.Partie-2 h2{
  width: 55%;
  text-align: center;
  margin: auto;
  margin-bottom: 8%;
}
.part2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.part2-1{
  width: 20%;
  height: 60vh;
  text-align: center;
  border: 1px solid black;
}
.fonction{
  color: red;
  font-size: 15PX;
  border: 2px solid black;
}
.Partie-3{
  height: 150vh;
  background-color: wheat;
}
.Partie-3 h2{
  padding-top: 10%;
}
.partie3{
  width: 100%;
  padding: 8%;
  display: flex;
  flex-direction: column;

}
.partie3-1{
  display: flex;
  flex-direction: row;
}
.partie3-2{
  height: 38VH;
  width: 50VH;
  background-color: white;
  margin: 20px;
}
.Partie-4{
  padding-top: 15%;
  height: 120vh;
}
.partie4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.partie4-1{
  width: 50%;
}

/* contact */

#acc-conc{
  margin-top: 10%;
}
.acc-conc{
  width: 45%;
  font-size: 13px;
  margin-bottom: 20px;
}
.acc-conc h3{
  color: var(--b-button);
}
.acc-conc1{
  width: 60%;
}

/* propos */
.propos-img{
  margin-bottom: 15%;
  width: 100%;
  height: 90vh;
  /* background-image:url(../../public/couverture.jpg); */
  background-image:linear-gradient(rgba(68, 85, 138, 0.6),rgba(52, 57, 111, 0.9)),url(../../public/accueil1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#propos{
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
  width: 55%;
}
#propos p{
  width: 70%;
  margin-left: 15%;
}
.img-propos{
  position: relative;
  margin-left: 18%;
}
.img-propos1 {
  position: absolute;
  top: 160vh;
  left: 37vh;
}
#propos-sect{
  width: 40%;
  line-height: 3vh;
}
#propos-sect h3{
  margin-bottom: 10%;
}
#propos-sect a{
  margin-top: 8%;
}
.pro-sec2{
  margin-top: 20%;
  margin-bottom: 10%;
  padding-left: 10%;
  background-color: rgb(239, 234, 226);
  height: 120vh;
}
.pro-sec2 h4{
  padding-top: 5%;
  padding-bottom: 4%;
  width: 40%;
}
.pro-sec2 p{
  width: 90%;
  margin-bottom: 5%;
}
.pro-sec2 part2{
  justify-content: s;
}
.propos2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pro2-1{
  width: 20%;
  height: 60vh;
  margin-right: 5%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}
.propos3 h4{
  padding-left: 8%;
}
.pro3{
  width: 100%;
  padding: 8%;
  display: flex;
  flex-direction: column;
}
.pro3-1{
  display: flex;
  flex-direction: row;
}
.pro3-2{
  height: 38VH;
  width: 50VH;
  border: 1px solid black;
  margin: 20px;
}
#footer span{
  float: right;
}