#nav-img{
    margin-left: 25%;
}
.navbar-nav{
   width: 55%;
}
.nav-item{
    margin-right: 8px;
}
#btn{
    margin-right: 15px;
    width: 20%;
    height: 30px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
}